/******************************************************************
STYLESHEET: VISIBILITY

******************************************************************/

.is-hidden {
    display: none;
}

.is-invisible {
    visibility: hidden;
}

.is-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    &.is-focusable:active,
    &.is-focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}

.label--fixed {
    @include font-size(0.8);
    font-weight: 700;
    position: absolute;
    color: $c-medium;
    top: 3px;
    left: 15px;
}

.label--focused {
    color: $c-alt-light;
    font-weight: 700;
    @include font-size(0.8);
    top: 3px;
    left: 15px;
    transition: 0.1s all ease-out;
}

.label--correct {
    @extend .label--focused;
    color: $c-medium;
}

.adressbox {
    max-height: 2000px;
    height: auto;
}

.box--transition {
    transition: 0.3s all ease-in-out;
}

.box--hidden {
    opacity: 0;
    visibility: hidden;
    height: 0;
    max-height: 0;
    padding: 0;
}

.rechnung-toggle {
    z-index: 30;
}

.kredit-toggle {
    @extend .rechnung-toggle;
}