/******************************************************************
STYLESHEET: BOX

******************************************************************/

.box {
    background-color: $white;
    border-top: 68px solid $c-dark;

    &-section {
        padding: 30px 25px;

        &-dark {
            background-color: $c-light;
            position: relative;

            &:before {
                content: "";
                display: inline-block;
                width: 0;
                height: 0;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-bottom: 20px solid $c-light;
                position: absolute;
                top: -15px;
                left: 50px;
            }
        }
    }

    &-text {

        &-light {
            color: $c-medium;
        }
    }
}

@include small {

    .box {

        &-section {
            padding-left: 45px;
            padding-right: 45px;
        }
    }
}

@include large {

    .box {
        //max-width: 800px;
        //margin: 0 auto;

        &-section {
            padding-left: 60px;
            padding-right: 60px;
        }
    }
}