/******************************************************************
STYLESHEET: BOX

******************************************************************/

.box {
    background-color: $white;
    border-top: 68px solid $c-dark;

    &-section {
        padding: 30px 25px;

        &-dark {
            background-color: $c-light;
        }
    }
}

@include small {

    .box {

        &-section {
            padding-left: 45px;
            padding-right: 45px;
        }
    }
}

@include large {

    .box {
        //max-width: 800px;
        //margin: 0 auto;

        &-section {
            padding-left: 60px;
            padding-right: 60px;
        }
    }
}