/******************************************************************
STYLESHEET: FIELDS

******************************************************************/

.fields {

    &-section {
        padding-top: 10px;
        padding-bottom: 25px;
        position: relative;
    }

    &-heading {
        @include font-size(1);

        &:after {
            content: "";
            display: block;
            margin-top: 10px;
            border-bottom: 1px dashed $c-light;
        }
    }

    &-label {
        font-weight: 700;
        margin-left: 30px;

        &:before {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-right: 10px;
            position: absolute;
            left: 0;
            bottom: -1px;
            border: 1px solid $c-base;
        }
    }

    &-text {
        margin-left: 30px;
    }

    &-radio {
        opacity: 0;
        position: absolute;
        z-index: 30;
        width: 20px;
        height: 20px;

        &:checked + label:before {
            content: "\2022";
            color: $c-base;
            text-align: center;
            @include font-size(1.3);
            line-height: 16px;
        }
    }

    &-item {
        margin-bottom: 6px;
        position: relative;
        background-color: $white;

        &-frame {
            position: relative;
            border: 1px solid $c-medium;
            padding: 15px 10px;
            background: transparent;
            z-index: 10;
            width: 100%;

            &:focus + label {
                color: $c-alt-light;
                @include font-size(0.6);
                top: 3px;
                left: 12px;
                transition: 0.1s all ease-out;
            }
        }

        &-placeholder {
            position: absolute;
            left: 15px;
            top: 15px;
            z-index: 5;
        }

        &-optional {
            color: $c-medium;
        }

        &-inline {
            float: left;
            margin-right: 16px;
            margin-bottom: 16px;
        }

        &-radio {
            position: relative;
        }
    }
}

@include small {

    .fields {

        &-heading {
            @include font-size(1.1);
        }

        &-item {

            &-wrapper {
                width: 100%;
            }

            &--half {
                width: 50%;
            }

            &--long {
                width: 70%;
            }

            &--short {
                width: 30%;
            }

            &--left {
                border-right: 3px solid $white;
            }

            &--right {
                border-left: 3px solid $white;
            }
        }
    }
}

@include medium {

    .fields {

        &-radio {

            &:checked + label:before {
                line-height: 15px;
                @include font-size(1.2);
            }
        }
    }
}

@include large {

    .fields{

        &-heading {
            @include font-size(1.2);
        }
    }
}