/******************************************************************
STYLESHEET: FIELDS

******************************************************************/

.fields {

    &-section {
        padding-top: 10px;
        padding-bottom: 25px;
        position: relative;
    }

    &-heading {
        @include font-size(1);

        &:after {
            content: "";
            display: block;
            margin-top: 10px;
            border-bottom: 1px dashed $c-light;
        }
    }

    &-label {
        font-weight: 700;
        margin-left: 30px;

        &:before {
            content: "";
            display: inline-block;
            width: 21px;
            height: 21px;
            margin-right: 10px;
            position: absolute;
            left: 0;
            top: 0;
            border: 2px solid $c-medium;
        }

        &-check {

            &:before {
                border-radius: 5px;
            }
        }

        &-radio {

            &:before {
                border-radius: 50%;
            }
        }
    }

    &-text {
        margin-left: 30px;
        margin-bottom: 6px;
        @include font-size(0.9);
    }

    &-radio {
        opacity: 0;
        position: absolute;
        z-index: 30;
        width: 21px;
        height: 21px;

        &:checked + label:before {
            content: "\2022";
            color: $c-alt-light;
            text-align: center;
            @include font-size(1.3);
            line-height: 16px;
            border: 2px solid $c-alt-light;
        }
    }

    &-check {
        @extend .fields-radio;

        &:checked + label:before {
            content: "\2714";
            color: $white;
            text-align: center;
            @include font-size(1);
            line-height: 16px;
            background-color: $c-alt-light;
            border: 2px solid $c-alt-light;
        }
    }

    &-img {
        margin-left: 30px;
        margin-top: 10px;
        display: inline-block;

        + .fields-img {
            margin-left: 6px;
        }

        &-large {
            margin-bottom: 6px;
            width: 100%;
        }
    }

    &-item {
        margin-bottom: 6px;
        position: relative;
        background-color: $white;

        &--dark {
            background-color: $c-light;
        }

        &-frame {
            position: relative;
            border: 1px solid $c-medium;
            padding: 15px 10px;
            background: transparent;
            z-index: 10;
            width: 100%;

            &:focus + label {
                color: $c-alt-light;
                @include font-size(0.6);
                top: 3px;
                left: 12px;
                transition: 0.1s all ease-out;
            }
        }

        &-placeholder {
            position: absolute;
            left: 15px;
            top: 15px;
            z-index: 5;
        }

        &-optional {
            color: $c-medium;
        }

        &-inline {
            float: left;
            margin-right: 16px;
            margin-bottom: 16px;
        }

        &-radio,
        &-check {
            position: relative;
        }
    }
}

@include small {

    .fields {

        &-heading {
            @include font-size(1.1);
        }

        &-item {

            &-wrapper {
                width: 100%;
            }

            &--half {
                width: 50%;
            }

            &--long {
                width: 70%;
            }

            &--short {
                width: 30%;
            }

            &--left {
                border-right: 3px solid $white;

                &--dark {
                    border-right: 3px solid $c-light;
                }
            }

            &--right {
                border-left: 3px solid $white;

                &--dark {
                    border-left: 3px solid $c-light;
                }
            }
        }

        &-img {

            &-large {
                padding-left: 18px;
                margin-bottom: 0;
            }
        }
    }
}

@include medium {

    .fields {

        &-radio {

            &:checked + label:before {
                line-height: 15px;
                @include font-size(1.2);
            }
        }
    }
}

@include large {

    .fields{

        &-heading {
            @include font-size(1.2);
        }
    }
}