/******************************************************************
STYLESHEET: STEPS

******************************************************************/

.steps {
    width: 100%;
    margin-bottom: 7px;

    &-item {
        background-color: $c-light;
        color: $white;
        text-decoration: none;
        float: left;
        width: 32%;
        margin-right: 2%;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;

        &--active {
            background-color: $c-alt-light;
        }
    }
}