/******************************************************************
STYLESHEET: GRID

******************************************************************/

.wrapper {
    margin: 0 2% 30px 2%;
}

@include large {

    .wrapper {
        max-width: 900px;
        margin: 0 auto 100px auto;
    }
}